
p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

h2 {
    color: hsl(218, 44%, 22%);
}

img {
    border-radius: 15px;
}

.font-fam-weight {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 375;
    padding: 5em;
    background-color: hsl(212, 45%, 89%);
}

.content {
    width: 300px;
    padding: 1em;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

@media (max-width: 375px){
    .font-fam-weight {
        font-family: "Outfit", sans-serif;
        font-weight: 700;
    }

    .container {
        width: 1440;
    }
}