body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    
    margin: auto;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

h2 {
    text-align: center;
    color: hsl(218, 44%, 22%);
}

img {
    border-radius: 5px;
}

.container {
    width: 1440px;
    padding: 1em;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}